* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/restaurante-bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 400px;
    color: #fff;
}

/* Parte topo-logo */
header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #EB984E;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #000;
    cursor: default;
}

.logo img {
    width: 35px;
    height: 25px;
    margin-right: 5px;
}

.tel {
    display: flex;
    align-items: center;
}

.tel p {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Parte da navegação */
nav {
    margin-bottom: 300px;
}

.navBar ul {
    display: flex;
    list-style: none;  
}

.navBar li {
    flex: 1;
}

.navBar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    background-color: #EB984E;
    font-weight: bold;
    text-align: center;
}

.navBar a.home {
    background-color: #fff;
    color: #EB984E;
}

.navBar a.reservar {
    background-color: #E67E22;
}

.navBar a:hover {
    opacity: 0.8;
}

/* Conteudo */
.tentarNovo h2 {
    background-color: #E67E22;
    width: fit-content;
    padding: 20px 30px;
    font-size: 3rem;
    font-weight: unset;
    text-shadow: 1px 1px 5px #000;
    cursor: default;
}

.tentarNovo a {
    margin: 15px 0;
    display: block;
    text-decoration: none;
}

.tentarNovo a:hover {
    opacity: 0.8;
}

.linkBranco {
    background-color: #fff;
    width: fit-content;
    padding: 20px 30px;
    color: #EB984E;
}

.linkVerde {
    background-color: #EB984E;
    color: #fff;
    padding: 20px 30px;
    width: fit-content;
}

@media screen and (max-width: 1000px) {
    body {
        margin: 0 50px;
    }

    /* Parte topo-logo */
    .logo h1 {
        font-size: 1.5rem;
    }

    .logo img {
        width: 25px;
        height: 18px;
    }

    .tel p {
        font-size: 0.8rem;
    }

    /* Parte da navegação */
    .navBar ul li a {
        font-size: 14px;
    }

    .navBar ul {
        flex-direction: column;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1720px) {
    body {
        margin: 0 100px;
    }

    /* Parte topo-logo */
    .logo h1 {
        font-size: 1.8rem;
    }

    .logo img {
        width: 30px;
        height: 25px;
    }

    .tel p {
        font-size: 1rem;
    }

    /* Parte da navegação */
    .navBar ul li a {
        font-size: 12px;
    }
}